@model IEnumerable<Assignment1.Models.BlogPost>
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid text-center">
    <h1>Blog Posts </h1>
    @if (Model == null || Model.Count() == 0)
    {
        <h4>Currently, there are no posts to display.</h4>
    }
    else
    {
        <table class="table">
            <tr>
                <th>Title</th>
                <th>Content</th>
                <th>Date Posted</th>
                @if (ViewData["RoleId"] != null)
                {
                    <th>Edit</th>
                }
            </tr>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td><a asp-controller="Home" asp-action="DisplayFullBlogPost" asp-route-id="@item.BlogPostId">@item.Title</a></td>
                        @if (item.Content.Length < 100)
                        {
                            <td>@item.Content</td>
                        }
                        else
                        {
                            <td>@item.Content.Substring(0, 100)...</td>
                        }
                        <td>@item.Posted</td>
                        @if (ViewData["RoleId"] != null)
                        {
                            <td><a asp-controller="Home" asp-action="EditBlogPost" asp-type="button" class="btn btn-default" asp-route-id="@item.BlogPostId">Edit</a></td>
                        }
                    </tr>
                }

            </tbody>
        </table>
    }
</div>
